@media screen and (max-width:1024px) {
    .spacer-t {
        padding-top: 50px;
    }

    .spacer-y {
        padding: 50px 0px;
    }

    .main_menu {
        display: none;
    }

    .h-btn {
        display: none;
    }

    .menu-icon {
        display: inline-block;
    }

    .sub-title h1 {
        font-size: 40px !important;
        /* width: 450px; */
    }

    .banner-img {
        height: 1189px;
    }

    .banner-img::before {
        height: 1189px;
    }

    .banner-content {
        padding-top: 50px;
    }

    .text {
        font-size: 40px !important;
        /* width: 500px; */
    }

    .banner-img2 img {
        width: 572px !important;
        height: 833px !important;
        margin-top: 45px;
    }

    .banner-txt {
        padding: 25px 35px !important;
        left: 10%;
    }

    .all-btn {
        padding: 7px 12px;
    }

    .all-btn2 {
        padding: 7px 12px;
    }

    .serch-main-title {
        font-size: 36px;
    }

    .form-btn a {
        left: 73%;
    }

    .row1 {
        display: flex;
        flex-wrap: wrap;
    }
     .service-box{
        padding: 20px 15px;
     }
    .sbox-body img {
  width: 40px;
  height: 40px;
  margin: 0px 0px 20px 0px;
}
.sbox-body h3 {
  margin: 0px 0px 10px 0px;
  font-size: 18px;
}
.sbox-body p {
    font-size: 14px;
}


    .trust-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tbox-1 {
        width: 45% !important;
        padding: 20px;
    }

    .trust-body img {
        margin-bottom: 20px;
    }

    .extra-m {
        margin-bottom: 15px !important;
    }

    .trust-body h3 {
        margin: 0px 0px 15px 0px;
    }

    .trust-body p {
        margin-bottom: 0px 0px 20px 0px;
    }

    .trust-circle {
        width: 40px;
        height: 40px;
    }

    .trust-box {
        margin-top: 40px;
    }

    .price-1 {
        padding: 12px 34px 12px 34px;
    }

    .p-margin {
        margin-bottom: 40px;
    }

    .price-main {
        margin-top: 40px;
    }

    .price-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pricebox-1 {
        width: 45%;
    }

    .counter-size {
        font-size: 36px !important;
    }

    .contact-btn {
        margin-top: 30px;
    }
    .card p {
        font-size: 14px;
    }

    .card h3 {
        font-size: 36px;
    }

    .security-right {
        margin-top: 40px !important;
        padding: 0 20px;
    }

    .security-icon {
        column-gap: 100px !important;
    }

    .sicon1 img {
        width: 50px;
        height: 50px;
    }

    .security-maintext {
        margin-bottom: 10px;
    }

    .testimonial-main {
        margin-bottom: 50px !important;
    }

    .testimonial-sliderimg img {
        width: 70px !important;
        height: 70px;
    }

    .security-maintext {
        font-size: 36px;
    }

    .security-left {
        justify-content: center;
    }
    .data-right {
        margin-top: 60px !important;
    }

    .data-item {
        margin-bottom: 30px;
    }

    .data-text {
        margin-left: 0px !important;
    }

    .footer-2 {
        margin-top: 20px;
    }

    .footer-body p {
        margin: 20px 0px;
    }

    .footer-title h3 {
        margin-bottom: 16px !important;
    }

    .footer-bottom {
        border-bottom: 1px solid rgba(255, 255, 255, 0.24);
        margin-top: 15px;
    }

    .footer-main2 {
        padding: 30px 0px;
    }

    .mob-sub-menu {
        position: static !important;
        transform: translate(0) !important;
    }

    .about-size2 {
        font-size: 40px;
    }

    .about-banner {
        padding: 100px 0px;
    }
    .client-img:hover .client-icon{
  top: 90%;
}
.client{
  margin-top: 50px;
}
.blog-body p{
 font-size: 14px;
} 
.contact-section{
  margin-top: 30px;
}
.team-detail-box{
    flex-wrap: wrap;
}
.team-box-1{
    width: 100%;
}
.team-img img{
    width: 100%;
    height: 836px;
    object-fit: cover;
    background-size: cover;
    border-radius: 30px 30px 0px 0px;
}
.team-box-2{
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  padding: 40px;
}
.team-detail-box2{
  margin: 30px auto;
  display: flex;
}
.error-btn{
  margin-top: 0px;
}
.serviced-section{
    margin-top: 30px;
}
.box-service{
    width: 45%;
} 
}

@media screen and (max-width:768px) {
    /* .sub-title p {
        width: 700px;
    } */

    .all-btn {
        padding: 6px 11px;
        font-size: 14px;
    }

    .all-btn2 {
        padding: 6px 11px;
        font-size: 14px;
    }

    .banner-img {
        height: 889px;
        object-fit: cover;
    }

    .banner-img::before {
        height: 889px;
    }

    .banner-img2 img {
        width: 320px !important;
        height: 539px !important;
        margin-top: 41px;
        display: inline-block;
        background-size: cover;
    }

    .banner-txt {
        padding: 20px 30px !important;
    }

    .banner-star {
        font-size: 16px;
        margin-right: 4px;
    }

    .box-img1 {
        width: 50px;
        height: 50px;
    }

    .box-img2 img {
        width: 50px !important;
        height: 50px !important;
    }
    .form-btn a {
        left: 83%;
    }

    .service-box {
        padding: 20px 14px;
    }

    .sbox-body img {
        width: 40px;
        height: 40px;
        margin: 0px 0px 20px 0px;
    }

    .sbox-body h3 {
        margin: 0px 0px 10px 0px;
        font-size: 18px;
    }

    .sbox-body p {
        font-size: 14px;
        line-height: 1.6em;
    }

    .free-text p {
        font-size: 16px;
        line-height: 1.8em;
    }

    .pricebox-1 {
        padding: 30px 35px;
    }

    .price-icon {
        width: 80px !important;
        height: 80px !important;
    }

    .price-icon img {
        width: 40px;
        height: 40px;
    }

    .price-under h3 {
        font-size: 20px;
        padding: 0px 0px 15px 0px;
        margin-bottom: 0px;
    }

    .price-under p {
        margin-bottom: 15px;
    }

    .start-p span {
        margin-bottom: 25px;
    }

    .price-mainlast ul {
        column-gap: 14px;
    }

    .contact-mainimg {
        width: 100%;
        height: 100%;
    }

    .counter-code {
        margin-top: 60px;
    }

    .security-one img {
        width: 100%;
        height: 495px;
    }

    .security-icon {
        column-gap: 60px !important;
    }

    .sicon1 img {
        width: 50px;
        height: 50px;
    }

    .security-maintext {
        margin-bottom: 10px;
        font-size: 36px;
        color: var(--darkblue);
    }

    .data-item {
        margin-bottom: 30px;
    }

    .post-main {
        margin-top: 20px;
    }

    .post-section{
        margin-top: 20px;
    }
    .footer-2 {
        margin-top: 20px;
    }

    .footer-body p {
        margin: 20px 0px;
    }

    .footer-title h3 {
        margin-bottom: 16px !important;
    }

    .footer-bottom {
        margin-top: 10px;
    }

    .footer-main2 {
        padding: 20px 0px;
    }

    .about-size2 {
        font-size: 36px !important;
    }

    .about-banner {
        padding: 90px 0px;
    }
       .client-img:hover .client-icon{
  top: 85%;
  
}
.client{
  margin-top: 40px;
}
.b-alp p{
  font-size: 18px !important;
}
.blog-detail-icon{
    margin-top: 20px;
  text-align: left;
}
.comment-form3{
  margin-right: 20px;
}
.know-section{
    margin-top: 30px;
}

.team-img img{
    width: 100%;
    height: 670px;
    /* object-fit: cover; */
    background-size: cover;
    border-radius: 30px 30px 0px 0px;
}
.erroe-page{
  margin-bottom: 20px;
}
.erroe-page img{
  max-width: 80%;
}
.error-content h2{
  margin-bottom: 15px;
}
.error-btn{
  margin-top: 0px;
}
.question-box-main{
    justify-content: left !important;
}
 .ex-m{
  margin-top: 0px;
 }
}


@media screen and (max-width:767px) {
    .spacer-y {
        padding: 50px 10px;
    }
    .contact-section{
        padding: 0px 10px;
    }
    .data-one img{
        width: 100%;
    }
    .top-header-right {
        display: none;
    }

    .sub-title h3 {
        font-size: 12px;
    }

    .sub-title h1 {
        font-size: 28px !important;
        /* width: 350px; */
    }

    .sub-title p {
        font-size: 14px;
        /* width: 380px; */
    }

    .banner-img {
        height: 774px;
        object-fit: cover !important;
    }

    .banner-img::before {
        height: 774px;
    }

    .banner-img2 img {
        width: 250px !important;
        height: 383px !important;
        /* margin-top: 37px; */
        display: inline-block;
        background-size: cover;
    }

    .banner-txt {
        padding: 15px 10px !important;
        padding-right: 34px !important;
        border-radius: 12px !important;
        bottom: 40px;
    }

    .banner-txt h2 {
        font-size: 14px;
    }

    .banner-star {
        font-size: 14px;
    }

    .star-banner span {
        font-size: 12px;
    }

    .box-img1 {
        width: 40px;
        height: 40px;
    }

    .box-img1 span {
        font-size: 13px;
    }

    .box-img2 img {
        width: 40px !important;
        height: 40px !important;
    }

    .form-grp input {
        width: 360px;
        padding: 14px 10px;
    }

    .form-grp input::placeholder {
        font-size: 14px;
    }

    .select-grp {
        top: 34%;
        left: 58%;
        font-size: 14px;
    }

    .form-btn a {
        padding: 10px 20px !important;
        top: 18%;
        left: 71%;
    }

    .service-main {
        row-gap: 20px;
    }

    .s-margin {
        margin-bottom: 30px !important;
    }

    .serch-main-title {
        font-size: 26px;
    }

    .search-p-title {
        font-size: 14px;
    }

    .service-main {
        flex-wrap: wrap;
    }

    .service-box {
        width: 100%;
        padding: 20px 15px;
    }

    .sbox-body img {
        width: 30px;
        height: 30px;
        margin: 0px 0px 15px 0px;
    }

    .sbox-body h3 {
        margin: 0px 0px 10px 0px;
        font-size: 18px;
    }

    .sbox-body p {
        font-size: 14px;
        line-height: 1.6em;
    }

    .tbox-1 {
        width: 100% !important;
    }

    .trust-body img {
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
    }

    .trust-body h3 {
        margin: 0px 0px 10px 0px;
    }

    .trust-body p {
        margin-bottom: 0px 0px 15px 0px;
    }

    .trust-box {
        margin-top: 30px;
    }

    .main-freebox {
        margin-top: 25px;
    }

    .p-margin {
        margin-bottom: 30px;
    }

    .pricing-button {
        padding: 6px;
    }

    .price-1 {
        padding: 8px 28px;
    }

    .pricebox-1 {
        width: 100%;
    }

    .price-icon {
        width: 60px !important;
        height: 60px !important;
    }

    .price-icon img {
        width: 30px;
        height: 30px;
    }

    .price-under h3 {
        font-size: 18px;
        padding: 0px 0px 15px 0px;
        margin-bottom: 0px;
    }

    .dollerp2 sub:nth-child(1) {
        font-size: 26px;
    }

    .start-p span {
        margin-bottom: 25px;
    }

    .price-btn {
        margin-top: 30px;
    }

    .price-last {
        padding: 0px;
        margin-top: 35px;
    }

    .price1 span:nth-child(2) {
        font-size: 11px;
        margin-left: 2px;
    }

    .price-mainlast ul {
        padding: 0;
        gap: 10px 55px;
    }
    .counter-size {
        font-size: 26px !important;
    }

    .counter-size2 {
        font-size: 14px;
    }

    .contact-mainimg img{
        width: 100%;
        height: 100%;
    }

    .contact-btn {
        margin-top: 0px !important;
        margin-bottom: 30px !important;
    }

    .contact-slider {
        margin-bottom: 0px;
    }

    .contact-btn a>span {
        font-size: 14px;
    }

    .contact-slider1 h3 {
        font-size: 18px;
    }

    .card h3 {
        font-size: 26px;
    }

    .counter-code {
        margin-top: 40px;
    }

    .security-right {
        margin-top: 0px;
    }

    .security-icon {
        column-gap: 30px !important;
    }

    .sicon1 img {
        width: 40px;
        height: 40px;
    }

    .security-maintext {
        font-size: 26px;
    }

    .testimonial-box {
        margin-top: 35px;
        padding: 40px 20px 20px 20px;
    }

    .testimonial-sliderimg img {
        width: 60px !important;
        height: 60px;
        border: 3px solid var(--bgwhite);
        position: absolute !important;
        top: 12%;
        bottom: auto;
        left: 42.5%;
        right: 0;
        transform: translate(0%, -50%);
    }

    .testimonial-text span {
        font-size: 18px;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 30px !important;
    }

    .testimonial-main {
        margin-bottom: 25px !important;
    }

    .data-right {
        margin-top: 30px !important;
    }

    .data-item {
        gap: 12px;
    }

    .data-item li {
        width: calc(100%);
    }

    .post-section{
        margin-top: 10px;
    }
    .post-wraper2 {
        margin-bottom: 28px !important;
    }
    .post-body h2 {
        font-size: 18px;
    }

    .post-body2 h2 {
        font-size: 18px;
    }

    .footer-bottom1 p {
        text-align: center;
    }

    .about-size2 {
        font-size: 28px !important;
    }

    .question-box {
        padding: 20px;
        width: 340px;
    }
    .question-call img{
  width: 36px;
  height: 36px;
}
.question-body h3>a{
  font-size: 18px;
}
.blog-detail-content blockquote{
    background-position: 15px 12px;
    padding: 60px 15px 15px 15px;
    border-radius: 20px;
}
.blog-title{
    font-size: 26px;
}
.blog-detail-content ul li{
    font-size: 15px !important;
}
.blog-link a{
    padding: 10px 15px;
}
.blog-detail-body .row{
  padding-right: 5px;
    padding-left: 5px;
}
.comment-box{
  margin: 40px auto 0;
}
.comment-box .replay-title{
    font-size: 24px;
    margin-bottom: 0px;
}
.comment-form3{
    width: 100%;
}
.comment-form2 textarea{
    margin-bottom: 20px;
}
.comment-form3 input{
    margin-bottom: 24px !important;
}
.about2 ol>li>a{
    font-size: 14px !important;
}
.knowledgebase-sidebar{
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 29px;
}
.knowledgebase-sidebar2{
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 29px;
}
.knowledgebase-icon{
  margin-bottom: 20px;
  text-align: center;
}
.knowledgebase-icon img{
    width: 40px;
    height: 40px;
}
.cta-contact-content h2{
    margin-bottom: 10px;
}
.know-btn{
    margin-top: 18px !important;
}
.knowledgebase-item{
    padding: 20px;
    margin-bottom: 30px;
}
.knowledgebase-item-content h3{
    font-size: 18px !important;
}
.team-img img{
    width: 100%;
    height: 366px;
    /* object-fit: cover; */
    background-size: cover;
    border-radius: 30px 30px 0px 0px;
}
.team-title-3 ul li>span{
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.team-title-3 ul li{
  padding-bottom: 12px;
  margin-top: 10px;
}
.team-title-4{
    gap: 10px;
}
.team-title-3 ul li>span>strong{
  font-size: 18px;
  width: 100%;
}
.error-btn{
  margin-bottom: 0px !important;
}
.service-img2 img{
    margin-top: 20px;
}
@keyframes box {
  0%{
    transform: translateX(-30px);
}
  50%{
    transform: translateX(-15px);
  }
  100%{
    transform: translateX(-30px);
}
}
.counter-code .row2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.security-one img{
    width: 100%;
    height: 100%;
}
}

@media screen and (max-width:376px) {
    /* .sub-title p {
        width: 300px !important;
    } */

    .search-p-title {
        font-size: 14px;
        line-height: 25.2px;
    }
    .form-grp input {
        width: 300px;
    }
    .form-btn a {
        padding: 10px !important;
        top: 18%;
        left: 70%;
    }

    .price-mainlast ul {
        gap: 10px 30px;
    }
    .counter-size2 {
        font-size: 14px;
    }

    .contact-btn {
        margin-top: 0px !important;
        margin-bottom: 30px !important;
    }

    .contact-slider {
        margin-bottom: 0;
    }

    .contact-mainimg {
        width: 100%;
        height: 352px;
    }


    .security-right {
        margin-top: 20px;
    }

    .testimonial-box {
        padding: 40px 20px 20px 20px;
    }

    .nav-tabs>.nav-link {
        padding: 5px 9px;
        font-size: 14px;
    }

    .data-center {
        font-size: 16px;
    }
    .team-img img{
    width: 100%;
    height: 320px;
    }
}

@media screen and (max-width:326px) {
    .top-header-left {
        justify-content: center;
        padding: 2px 0;
    }

    .top-header-left a:nth-child(2) {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-left: 19px;
        margin-top: 13px;
    }

    .banner-btn {
        display: flex;
        flex-wrap: wrap;
        width: 250px;
    }

    .all-btn2 {
        margin-left: 0;
    }

    .banner-img {
        height: 800px;
        object-fit: cover !important;
    }

    .banner-img::before {
        height: 800px;
    }

    .banner-img2 img {
        width: 180px !important;
        height: 284px !important;
        display: inline-block;
        background-size: cover;
    }

    .form-grp input {
        width: 300px;
    }

    .form-btn a {
        left: 69%;
    }

    .free-box {
        margin-left: 10px;
    }

    .price-last {
        margin-top: 30px;
    }

    .price-mainlast ul {
        gap: 8px 55px;
    }

    .contact-btn {
        margin-top: 0px;
        margin-bottom: 30px !important;
    }

    .contact-slider {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .contact-mainimg {
        width: 100%;
        height: 320px;
    }

    .security-right {
        margin-top: 20px !important;
    }

    .security-left {
        padding: 0px 0px;
    }

    .testimonial-sliderimg img {
        top: 11%;
        left: 40%;
    }

    .nav-tabs>.nav-link {
        padding: 3px 6px;
        font-size: 14px;
    }

    .question-box {
        padding: 20px;
        width: 260px;
    }
    .blog-link{
        flex-wrap: wrap;
    }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 45%;
        margin-bottom: 10px;
    }
}